<% for (resource of resources) {%>
<tr>
    <td><%= resource.name %> </td>
    <td><%= resource.type %> </td>
    <td><%= resource.approved %></td>
    <td>  <button class="review-button"><a href="/resource/review/<%= resource._id %>">Review</a></button>
    </td>
    <td>
        <form action="/admin/approve/<%= resource._id %>?_method=DELETE" method="POST">
       <button class="review-button" type="submit">Delete</button>
        </form> 
    </td>
 </tr>
 <%}%>