<%- include('../partials/header') -%> 
<%- include('../partials/adminNav') -%>
<main>
  <div class="formContainer">
      <form action="/resource/<%= foundResource._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="formHeading">
          <h1>Approve and Publish Resource</h1>
        </div>
        <div class="item">
          <label for="name">Name of Resource</label><span class="required">*</span>
          <input type="text" name="name" id="name" value="<%= foundResource.name %>" minlength="5" required/>
        </div>
        <div class="item">
          <label for="type">Resource Type</label><span class="required">*</span>
          <select name="type" id="type" required>
              <option value="<%= foundResource.type %>"><%= foundResource.type %></option>
              <option value="Fridge & Pantry">Fridge & Pantry</option>
              <option value="Micro Pantry (no fridge)">Micro Pantry (no fridge)</option>
              <option value="Food Bank Pick-up">Food Bank Pick-up</option>
              <option value="Prepared Meal Pick-up">Prepared Meal Pick-up</option>
              <option value="Sit-down warm meal">Sit-down warm meal</option>
              <option value="Warming Center">Warming Center</option>
              <option value="Shelter">Shelter</option>
          </select>
        </div>
        <h5>1. Resource Details:</h5>
        <div class="item">
          <label for="org">Name of Lead Orginazation</label>
          <input type="text" name="org" id="org" value="<%= foundResource.org %>"/>
        </div>
        <div class="item">
          <label for="date">Date Resource Opened</label><span class="required">*</span>
          <input type="text" name="start_date" value="<%= foundResource.start_date %>" />
        </div>
        <div class="item">
          <label for="address">Resource Address</label><span class="required">*</span></p>
          <input type="text" name="st_add" value="<%= foundResource.st_add %>" required/>
          <div class="textInputSmall">
            <input type="text" name="city" value="<%= foundResource.city %>" required/>
            <input type="text" name="state" placeholder="State" value="<%= foundResource.state %>" required/>
            <input type="text" name="zip" value="<%= foundResource.zip %>" required/>
            <select name="country" required>
              <option value="<%= foundResource.country %>"><%= foundResource.country %></option>
              <option value="USA">USA</option>
              <option value="Canada">Canada</option>
            </select>
          </div>
        </div>
        <div class="item">
          <input type="text" name="loc_desc" value="<%= foundResource.loc_desc %>"/>
        </div>
        <div class="item">
          <label for="web">Website</label><span class="required">*</span></p>
          <input type="text" name="web" value="<%= foundResource.web %>"/>
        </div>
          <div class="item">
            <label for="facebook">Facebook</label>
            <input type="text" name="facebook" value="<%= foundResource.facebook %>"/>
          </div>
          <div class="item">
            <label for="insta">Instagram</i></label>
            <input type="text" name="insta" value="<%= foundResource.insta %>"/>
          </div>
          <div class="item">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= foundResource.email %>"/>
          </div>
          <div class="question">
            <label for="opn_hrs">Is this resource open 24/7?</label><span class="required">*</span></p>
            <div class="question-answer">
              <input type="radio" value="<%= foundResource.opn_hrs %>" id="open24" name="opn_hrs"/>
              <label for="open24" class="radio"><span>Yes</span></label>
              <input type="radio" value="<%= foundResource.opn_hrs %>" id="notOpen24" name="opn_hrs"/>
              <label for="notOpen24" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="item">
            <label for='days'>If No, please list the Hours of Operation below:</label>
            <div class="textInputSmall">
              <input type="text" name="days" value="<%= foundResource.days %>">
              <input type="text" name="hrs" value="<%= foundResource.hrs %>">
            </div>
          </div>
          <div class="question">
            <label for='donations'>Does this resource accept donations?</label><span class="required">*</span>
            <div class="question-answer">
              <input type="radio" id="yesDonations" name="donations" value="<%= foundResource.donations %>"/>
              <label for="yesDonations" class="radio"><span>Yes</span></label>
              <input type="radio" id="noDonations" name="donations" value="<%= foundResource.opn_hrs %>"/>
              <label for="noDonations" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="item">
            <label for="accpts">What kind of donations does this resource accept?</label>
            <input type="text" name="accpts" value="<%= foundResource.accpts %>"/>
          </div>
            <div class="item">
              <label for="no_accpt">What kind of donations does this resource NOT accept?</label>
              <input type="text" name="no_accpt" value="<%= foundResource.no_accpt %>"/>
            </div>
            <div class="item">
              <label for="google_maps">Google Maps Link</label>
              <input type="text" name="google_maps" value="<%= foundResource.google_maps %>"/>
            </div>
            <div class="question">
              <label for='approve'>Do you want to approve and publish this resource?</label><span class="required">*</span>
                <div class="question-answer">
                  <input type="radio" value=1 id="yes_approve" name="approved" />
                  <label for="yes_approve" class="radio"><span>Yes</span></label>
                  <input type="radio" value=0 id="no_approve" name="approved" />
                  <label for="no_approve" class="radio"><span>No</span></label>
                </div>
            </div>
            <div >
                <input type="submit" class="formSubmitBtn" value="Submit">
            </div>  
        </form>
    </div>  
</main>
<%- include('../partials/footer') %>