<%- include('../partials/header') -%> 
<%- include('../partials/adminNav') -%>
<main>
  <div class="container">
    <h1>Read Contact Info</h1>
      <div class="formContainer">
        <form action="/contact/<%= foundContact._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
          <div class="formAnswer">
            <p>First Name: <%= contact.f_name %></p>
            <p>Last Name: <%= contact.l_name %></p>
            <p>Email: <%= contact.email %></p>
            <p>Organization: <%= contact.org %></p>
            <p>Volunteer? <%= contact.vol %></p>
            <p>Message:</p>
            <p><%= contact.msg %></p>
          </div>
          <div class="question">
            <label for="contact">Has this person be contacted?</label>
            <div class="question-answer">
              <input type="radio" value=0 id="no_cont" name="cntct" required/>
              <label for="no_cont" class="radio"><span>No</span></label>
              <input type="radio" value=1 id="yes_cont" name="cntct" required/>
              <label for="yes_cont" class="radio"><span>Yes</span></label>
            </div>
          </div>
          <div class="question">
            <label for="admin">Approved and Registered as an Admin?</label>
            <div class="question-answer">
            <input type="radio" value=0 id="no_admin" name="admin" required/>
            <label for="no_admin" class="radio"><span>No</span></label>
            <input type="radio" value=1 id="yes_admin" name="admin" required/>
            <label for="yes_admin" class="radio"><span>Yes</span></label>
          </div>
          </div>
          <div class="formItem">
            <label for="user_name">If yes, what is their username?</label>
            <input type="text" id="username" name="username" placeholder="username">
          </div>
          <input type="submit" class="formSubmitBtn" type="submit" value="Submit">
        </form>
        </div>
          
  </div> 
</main>  

<%- include('../partials/footer') -%>