<%- include('../partials/header') -%> 
<%- include('../partials/adminNav') -%>
<main>
  <div class="formContainer">
      <form action="/resource/<%= foundResource._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="formHeading">
          <h1>Approve and Publish Resource</h1>
        </div>
        <div class="item">
          <label for="name">Name of Resource</label><span class="required">*</span>
          <input type="text" name="name" id="name" value="<%= foundResource.name %>" minlength="5" required/>
        </div>
        <div class="item">
          <label for="type">Resource Type</label><span class="required">*</span>
          <select required>
              <option value="<%= foundResource.type %>"></option>
              <option value="Fridge & Pantry">Fridge & Pantry</option>
              <option value="Micro Pantry (no fridge)">Micro Pantry (no fridge)</option>
              <option value="Food Bank Pick-up">Food Bank Pick-up</option>
              <option value="Prepared Meal Pick-up">Prepared Meal Pick-up</option>
              <option value="Sit-down warm meal">Sit-down warm meal</option>
              <option value="Warming Center">Warming Center</option>
              <option value="Shelter">Shelter</option>
          </select>
        </div>
        <h5>1. Resource Details:</h5>
        <div class="item">
          <label for="org">Name of Lead Orginazation</label>
          <input type="text" name="org" id="org" value="<%= foundResource.org %>"/>
        </div>
        <div class="item">
          <label for="date">Date Resource Opened</label><span class="required">*</span>
          <input type="date" name="start_date" value="<%= foundResource.start_date %>" />
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <label for="address">Resource Address</label><span class="required">*</span></p>
          <input type="text" name="st_add" value="<%= foundResource.st_add %>" required/>
          <div class="textInputSmall">
            <input type="text" name="city" value="<%= foundResource.city %>" required/>
            <input type="text" name="state" placeholder="State" value="<%= foundResource.state %>" required/>
            <input type="text" name="zip" value="<%= foundResource.zip %>" required/>
            <select name="country" required>
              <option value="<%= foundResource.country %>"></option>
              <option value="USA">USA</option>
              <option value="Canada">Canada</option>
            </select>
          </div>
        </div>
        <div class="item">
          <input type="text" name="loc_desc" value="<%= foundResource.loc_desc %>"/>
        </div>
        <div class="item">
          <label for="web">Website</label><span class="required">*</span></p>
          <input type="text" name="web" value="<%= foundResource.web %>"/>
        </div>
        <div class="item">
          <label for="facebook">Facebook <i class="fab fa-facebook-f"></i></label>
          <input type="text" name="facebook" value="<%= foundResource.facebook %>"/>
        </div>
        <div class="item">
          <label for="insta">Instagram <i class="fab fa-instagram"></i></label>
          <input type="text" name="insta" value="<%= foundResource.insta %>"/>
        </div>
        <div class="item">
          <label for="email">Email</label>
          <input type="email" name="email" value="<%= foundResource.email %>"/>
        </div>
        <div class="question">
          <label for="opn_hrs">Is this resource open 24/7?</label><span class="required">*</span></p>
          <div class="question-answer">
            <input type="radio" value="<%= foundResource.opn_hrs %>" id="open24" name="opn_hrs"/>
            <label for="open24" class="radio"><span>Yes</span></label>
            <input type="radio" value="<%= foundResource.opn_hrs %>" id="notOpen24" name="opn_hrs"/>
            <label for="notOpen24" class="radio"><span>No</span></label>
          </div>
        </div>
        <div class="item">
          <label for='days'>If No, please list the Hours of Operation below:</label>
          <div class="textInputSmall">
            <input type="text" name="days" value="<%= foundResource.days %>">
            <input type="text" name="hrs" value="<%= foundResource.hrs %>">
          </div>
        </div>
        <div class="question">
          <label for='donations'>Does this resource accept donations?</label><span class="required">*</span>
          <div class="question-answer">
            <input type="radio" value="<%= foundResource.donations %>" id="yesDonations" name="donations"/>
            <label for="yesDonations" class="radio"><span>Yes</span></label>
            <input type="radio" value="<%= foundResource.opn_hrs %>" id="noDonations" name="donations"/>
            <label for="noDonations" class="radio"><span>No</span></label>
          </div>
        </div>
        <div class="item">
          <label for="accpts">What kind of donations does this resource accept?</label>
          <input type="text" name="accpts" value="<%= foundResource.accpts %>"/>
        </div>
        <div class="item">
          <label for="no_accpt">What kind of donations does this resource NOT accept?</label>
          <input type="text" name="no_accpt" value="<%= foundResource.no_accpt %>"/>
        </div>
        <!-- <div class="question">
          <p>What kind of donations does this resource accept?<span class="required">*</span></p>
          <div class="question-answer checkbox-item" name="accpts">
            <div>
              <input type="checkbox" value="Fresh produce" id="check_1" name="accpts" required/>
              <label for="check_1" class="check"><span>Fresh produce</span></label>
            </div>
            <div>
              <input type="checkbox" value="Fresh dairy/eggs" id="check_2" name="accpts" required/>
              <label for="check_2" class="check"><span>Fresh dairy/eggs</span></label>
            </div>
            <div>
              <input type="checkbox" value="Sealed Canned/jarred food" id="check_3" name="accpts" required/>
              <label for="check_3" class="check"><span>Sealed Canned/jarred food</span></label>
            </div>
            <div>
              <input type="checkbox" value="Sealed packaged/labeled pre-made food" id="check_4" name="accpts" required/>
              <label for="check_4" class="check"><span>Sealed packaged/labeled pre-made food</span></label>
            </div>
            <div>
              <input type="checkbox" value="Sealed frozen food" id="check_5" name="accpts" required/>
              <label for="check_5" class="check"><span>Sealed frozen food</span></label>
            </div>
            <div>
              <input type="checkbox" value="Sealed packaged/labeled baked goods" id="check_6" name="accpts" required/>
              <label for="check_6" class="check"><span>Sealed packaged/labeled baked goods</span></label>
            </div>
            <div>
              <input type="checkbox" value="New hygiene products" id="check_7" name="accpts" required/>
              <label for="check_7" class="check"><span>New hygiene products</span></label>
            </div>
            <div>
              <input type="checkbox" value="Sealed disposable plates/cups/utensils" id="check_8" name="accpts" required/>
              <label for="check_8" class="check"><span>Sealed disposable plates/cups/utensils</span></label>
            </div>
            <div>
              <input type="checkbox" value="Clothing" id="check_9" name="accpts" required/>
              <label for="check_9" class="check"><span>Clothing</span></label>
            </div>
          </div>
        </div> -->
          <!-- <div class="question">
              <p>What kind of donations does this resource NOT accept?<span class="required">*</span></p>
              <div class="question-answer checkbox-item">
                <div>
                  <input type="checkbox" value="Raw meat" id="check_10" name="no_accpt" required/>
                  <label for="check_10" class="check"><span>Raw meat</span></label>
                </div>
                <div>
                  <input type="checkbox" value="Homemade food" id="check_11" name="no_accpt" required/>
                  <label for="check_11" class="check"><span>Homemade food</span></label>
                </div>
                <div>
                  <input type="checkbox" value="Dairy" id="check_12" name="no_accpt" required/>
                  <label for="check_12" class="check"><span>Dairy</span></label>
                </div>
                <div>
                  <input type="checkbox" value="Hygiene products" id="check_13" name="no_accpt" required/>
                  <label for="check_13" class="check"><span>Hygiene products</span></label>
                </div>
                <div>
                  <input type="checkbox" value="Clothing" id="check_14" name="no_accpt" required/>
                  <label for="check_14" class="check"><span>Clothing</span></label>
                </div>
              </div> -->
              <div class="item">
                <label for="google_maps">Google Maps Link</label>
                <input type="text" name="google_maps" value="<%= foundResource.google_maps %>"/>
              </div>
              <div class="question">
                <label for='approve'>Do you want to approve and publish this resource?</label><span class="required">*</span>
                <div class="question-answer">
                  <input type="radio" value=1 id="yes_approve" name="approve" />
                  <label for="yes_approve" class="radio"><span>Yes</span></label>
                  <input type="radio" value=0 id="no_approve" name="approve" />
                  <label for="no_approve" class="radio"><span>No</span></label>
                </div>
              </div>
              <div >
                  <input type="submit" class="formSubmitBtn" value="Submit">
              </div>   
          </div> 
        </div>
    </form>
</main>
<%- include('../partials/footer') %>